
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,200&display=swap');
*{
    margin:0;
 padding: 0;
}
body{
    background-color: rgba(13, 11, 29, 0.966);
}
nav{
    text-align: center;
    justify-content: center;
  margin: auto;
  border:none;
  display: flex;

}

nav p{
  margin: 5px;
  padding-left: 20px;
  text-align: start;
    font-size: 30px;
    font-family:"Monserrat";
    font-weight: 200;
    color:white;
}

nav strong{
    color: rgb(57, 179, 179);
}
nav a{
    margin: auto;
     align-items: center;
   color:aliceblue;
   word-spacing:normal;
}
nav input{
    margin: 10px;
    outline: none;
    border: none;
    background-color: rgba(7, 6, 24, 0.973);
    border-radius: 5px;
    width: 20vw;
  
}
section {
    color:aliceblue;
   text-align:start;
   justify-content:flex-start;
   padding: 60px;
   padding-bottom:1px;
   font-family: "Monserrat";
   font-weight: 300;
}

section img{
   display: flex;
   width: 90vw;
   text-align: center;
   opacity: 0.5;
   height: 60vh;

}

.contain-title{
        color: aliceblue;
        font-family: "Monserrat";
        text-align:start;
        justify-content: center;
        position: absolute;
        top:30vw;
        left: 9vw;
        }
.contain-title h3{
    font-weight: 600;
    font-size: 30px;
    padding-bottom: 5px;
}
.contain-title p{
font-size: 15px;
word-spacing: 4px;
padding: 2px;
}
.card{
    display: inline-block;
 padding: 15px;   
}
.card img{
    width: 150px;
    height: 200px;
 border-radius: 10px;


}
.card p{
    text-align: center;
    color: rgb(241, 235, 235);
    opacity: 0.8;
}
.episode , table{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


#episodio {
    padding-top: 25vh;

   }
   video{
    height:300px;
    padding-bottom: 1px;
   }
 
.more-visit{
    width: 30%;
}
.more-visit img{
    width: 150px;
    height: 200px;
    display: inline-block;
    padding:10px;
    border-radius: 10px;
}
.episode-img img{
    width: 150px;
    height: 220px; 
 float:left;
 border-radius: 5px;


}
.episode-img span{
    color:wheat;
    font-size: 18px;
    
}
.sypnosis p{
    padding-top:5px;
    font-size: 15px;
    font-family: "Monserrat";
   
}


